page-confirmar-foto {
    ion-icon {
        font-size: 6em;
    }

    .imagenLogo {
        float: right;
        margin: 0 0.2rem;
        margin-left: 0.2rem;
        padding: 0 5px;
        height: 32px;
        width: 45px;
        border: 0;
    }
}
