/PetFinderBackOffice/.vs/PetFinderBackOffice/v15/Server/sqlite3/db.lock
/PetFinderBackOffice/.vs/config/applicationhost.config
/PetFinderBackOffice/PetFinderBackOffice/bin
/PetFinderBackOffice/PetFinderBackOffice/obj
/PetFinderBackOffice/.vs
*.cache
*.sqlite
/PetFinderBackOffice/PetFinderBackOffice/*.user
Debug
/PetFinderBackOffice/PetFinderBackOffice/PetFinderBackOffice.csproj.user
/PetFinderBackOffice/.vs/PetFinderBackOffice/v15/.suo
/PetFinderBackOffice/.vs/PetFinderBackOffice/v15/*.suo
/PetFinderBackOffice/.vs/PetFinderBackOffice/v15/Server
/PetFinderBackOffice/.vs/PetFinderBackOffice/v15/*.*
/PetFinderBackOffice/PetFinderBackOffice/obj/Debug/*.cache
/PetFinderBackOffice/PetFinderBackOffice/bin/*.dll
/PetFinderBackOffice/PetFinderBackOffice/bin/*.pdb
/PetFinderBackOffice/PetFinderBackOffice/obj/Debug/*.dll
/PetFinderBackOffice/PetFinderBackOffice/obj/Debug/*.pdb
/PetFinder/node_modules
